{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if cursos.pk %}
    Editar Curso
    {% else %}
    Novo Curso
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if cursos.pk %}
    <h1>Editar Curso</h1>
    {% else %}
    <h1>Novo Curso</h1>
    {% endif %}
 
    <form method='POST'>
        {% csrf_token %}

        {{form|crispy}}

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}