{% extends "base.html" %}

{% block page_title %}
    Lista de Cursos
{% endblock page_title %}

{% block content %}
<h1>Lista de Cursos</h1>

<table class="table">
        <thead> 
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos_list %} 
            <tr>
                    <th scope="row">{{curso.id}}</th>
                    <td>{{curso.title}}</td>
                    <td>{{curso.description}}</td>
                    <td>
                        <a href="{% url "cursos_update" pk=curso.pk %}" class="btn btn-sm btn-secondary">Editar</a>
                        <a href="{% url "cursos_delete" pk=curso.pk %}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url "cursos_create" %}" class="btn btn-primary">Novo Curso</a>
{% endblock content %}